<head>
<!--     <link rel="stylesheet" href="/static/styles.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src='/static/scripts.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">





</head>
<body>

    <header class="w3-container w3-teal" style="position:fixed; top:0px; height:120px; left:0px; right:0px; overflow:hidden;">
        <h1>Header</h1>
        {% include "_navigation.html" %}
    </header>

<main class="w3-cell-row" style="position:absolute; top:120px; bottom:200px; left:0px; right:0px; overflow:auto;">

    <div class="w3-container w3-red w3-cell">
        Currently in data folder: </br>
        <table class="w3-table w3-striped w3-border w3-hoverable">
            {% for file in files|sort %}
                <tr><td>{{ file|replace(".csv","") }} </td></tr>
            {% endfor %}
        </table> 
    </div>

    <div class="w3-container w3-card w3-light-grey"> 
        <h4>Main Content</h4>
        
        <div class="w3-code jsHigh" id="Sharepad">copy([].map.call($$('[id$=c1]'), function(el) {return el.innerHTML}).join());</div>
        <button class="w3-button w3-teal" onclick='copyText("Sharepad")'>Copy</button>
    
            
        <form method="POST">
            <textarea rows = "5" cols = "60" name = "text">Enter details here...</textarea><br>
            <input class="w3-bar-item w3-button w3-teal" type="submit" value="Download data for tickers in box"/>
        </form>
        
        <div id="mylog">

        </div>
    </div>
    

    <div class="w3-container w3-red w3-cell">
        
        Currently in screen passed folder: </br>
        <table class="w3-table w3-striped w3-border w3-hoverable">
            {% for file in screened|sort %}
                <tr><td>{{ file|replace(".csv","") }} </td></tr>
            {% endfor %}
        </table> 
    </div>
</main>

<footer class="w3-container w3-teal" style="position:fixed; bottom:0px; height:50px; left:0px; right:0px; overflow:hidden;">
        <a href="#page1" class="w3-bar-item w3-button w3-mobile">Page 1</a>
        <a href="#page2" class="w3-bar-item w3-button w3-mobile">Page 2</a>
        <a href="#page3" class="w3-bar-item w3-button w3-mobile">Page 3</a>
</footer>


<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>

<script>
w3CodeColor();
</script>

    <script>
    function copyText(idName) {
      /* Get the text field */
      var copyText = document.getElementById(idName).textContent;

       /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText);

      /* Alert the copied text */
      alert("Copied the text: " + copyText);
            
        }
    </script>
    

</body>